<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>個人理財網</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <a href = "#" class = "navbar-brand">個人理財網</a>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">首頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cash">現金庫存表單</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/stock">股票庫存表單</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id = "cash-info" style = "padding: 2rem;">
        <h4>現金庫存</h4>
        <table class = "table table-bordered">
            <tr>
                <td>台幣總額： {{ data["td"] }} 元</td>
                <td>美金總額： {{ data["ud"] }} 元</td>
                <!-- 全球即是匯率api有標示使用時要標記出處 -->
                <td>今日匯率(出處：全球即時匯率API：https://tw.rter.info/howto_currencyapi.php)： {{ data["currency"] }} 元</td>
                <td>現金總額： {{ data["total"] }} 元</td>
            </tr>
        </table>
        <h4>現金更動紀錄</h4>
        <table class = "table table-bordered">
            <thead>
                <tr>
                    <th scope = "col">ID</th>
                    <th scope = "col">台幣</th>
                    <th scope = "col">美金</th>
                    <th scope = "col">備註</th>
                    <th scope = "col">時間</th>
                    <th scope = "col">刪除資料</th>
                </tr>
            </thead>
            <!-- 使用for迴圈把cash_result資料放入表格 -->
            <tbody>
                {% for new_data in data["cash_result"] %}
                <tr>
                    <td>{{ new_data[0] }}</td> <!-- ID -->
                    <td>{{ new_data[1] }}</td> <!-- 台幣 -->
                    <td>{{ new_data[2] }}</td> <!-- 美金 -->
                    <td>{{ new_data[3] }}</td> <!-- 備註 -->
                    <td>{{ new_data[4] }}</td> <!-- 時間 -->
                    <td>
                        <form action = "cash-delete" method = "post">
                            <!-- 針對指定id的資料進行刪除使用input type="hidden" 
                                 value帶入上方的id欄位 -->
                            <input type = "hidden" name = "id" value = "{{ new_data[0] }}">
                            <button class = "btn btn-primary">刪除此筆資料</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    <hr>
    <div id = "stock-info" style = "padding: 2rem;">
        <h4>股票庫存</h4>
        <table class = "table table-bordered">
            <thead>
                <tr>
                    <th scope = "col">代號</th>
                    <th scope = "col">持有數</th>
                    <th scope = "col">股價</th>
                    <th scope = "col">市值</th>
                    <th scope = "col">資產佔比(%%)</th>
                    <th scope = "col">總成本(含手續費)</th>
                    <th scope = "col">平均成本</th>
                    <th scope = "col">報酬率(%)</th>
                </tr>
            </thead>
            <tbody>
                {% for new_stock in data["stock_info"] %}
                <tr>
                    <td>{{ new_stock["stock_id"] }}</td>
                    <td>{{ new_stock["shares"] }}</td>
                    <td>{{ new_stock["current_price"] }}</td>
                    <td>{{ new_stock["total_value"] }}</td>
                    <td>{{ new_stock["value_percentage"] }}</td>
                    <td>{{ new_stock["stock_cost"] }}</td>
                    <td>{{ new_stock["average_cost"] }}</td>
                    <td>{{ new_stock["rate_return"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>